* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 60%;
  margin-inline: auto;
 /* margin-left: 100px;
 margin-right: 100px; */

}

.inner-title {
  color: black;
  margin-block: 0.5rem;
  font-size: 24px;
  font-weight: 600;
}

p {
  text-align: justify;
  line-height: 1.4 !important;
  font-family: "Hind", system-ui;
}

.comment-field input,
.commentemail-field input {
  display: block;
  width: 100%;
  background: #f0f6fc;
  border: 1px solid #cddbe9;
  border-radius: 4px;
  padding: 10px 20px;
}
.comment-field,
.commentemail-field,
.commenttarea-field {
  margin-bottom: 1rem;
}
.commenttarea-field input {
  outline: 0;
  text-decoration: none;
}
.btn {
  background: blue;
  border: medium none;
  color: white;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1;
  margin-bottom: 0;
  padding: 19px 24px 16px 24px;
  text-align: center;
  text-transform: uppercase;
}
.row {

  display: flex;
  flex-wrap: wrap;
  gap:2rem;

}
.commenttarea-field textarea {
  display: block;
  height: 130px;
  min-height: 130px;
  width: 100%;
  background: #f0f6fc;
  border: 1px solid #cddbe9;
  border-radius: 4px;
  padding: 10px 20px;
}





@media screen and (max-width: 500px){
  div.container{
    width: unset;
  }
   
}